# --- PostgreSQL ---
POSTGRES_DB=empreganet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# --- Redis ---
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_INSIGHT_PORT=5540

# --- Portas das aplicações no host ---
API_PORT=5225
