name: Deploy to EC2

on:
  workflow_call:
    inputs:
      image_uri:
        required: true
        type: string
      ecr_registry:
        required: true
        type: string

env:
  AWS_REGION: us-east-1
  CONTAINER_NAME: empreganet-api

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Develop

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Trigger SSM Command
        shell: bash
        run: |
          aws ssm send-command \
            --instance-ids "${{ vars.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --parameters commands="[
              \"docker login --username AWS --password \$(aws ecr get-login-password --region $AWS_REGION) ${{ inputs.ecr_registry }}\",
              \"docker pull ${{ inputs.image_uri }}\",
              \"docker stop $CONTAINER_NAME || true\",
              \"docker rm $CONTAINER_NAME || true\",
              \"docker run -d --restart always -p 8080:8080 -p 8081:8081 --name $CONTAINER_NAME ${{ inputs.image_uri }}\"
            ]" \
            --region $AWS_REGION
