name: CD - Deploy Elastic Beanstalk

on:
  workflow_call:
    inputs:
      solution_file:
        required: true
        type: string
      api_project_path:
        required: true
        type: string
      eb_application_name:
        required: true
        type: string
      eb_environment_name:
        required: true
        type: string
      aws_region:
        required: true
        type: string

env:
  PUBLISH_DIR: publish_output
  ZIP_FILE_NAME: deploy_package.zip

jobs:
  deploy-eb:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Restore
        run: dotnet restore ${{ inputs.solution_file }}

      - name: Build
        run: dotnet build ${{ inputs.solution_file }} -c Release --no-restore

      - name: Publish API
        run: |
          dotnet publish ${{ inputs.api_project_path }} \
            -c Release \
            -o ${{ env.PUBLISH_DIR }} \
            --no-build

      - name: Package artifact
        run: |
          cd ${{ env.PUBLISH_DIR }}
          zip -r ../${{ env.ZIP_FILE_NAME }} .

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - name: Deploy to Elastic Beanstalk
        uses: aws-actions/elasticbeanstalk-deploy@v1
        with:
          application_name: ${{ inputs.eb_application_name }}
          environment_name: ${{ inputs.eb_environment_name }}
          version_label: eb-${{ github.sha }}
          deployment_package: ${{ env.ZIP_FILE_NAME }}
