name: Main Deploy - EmpregaNet

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: CI - Build and Tests
    uses: ./.github/workflows/build-and-test.yml
    with:
      solution_file: EmpregaNet.sln
      tests_project_path: src/EmpregaNet.Tests/EmpregaNet.Tests.csproj

  publish-ecr:
    name: CD - Publish ECR
    needs: [build-and-test]
    uses: ./.github/workflows/ecr.yml
    secrets: inherit

  deploy-ec2:
    name: CD - Deploy EC2
    needs: [publish-ecr]
    uses: ./.github/workflows/ec2.yml
    with:
      image_uri: ${{ needs.publish-ecr.outputs.image_uri }}
      ecr_registry: ${{ needs.publish-ecr.outputs.ecr_registry }}
    secrets: inherit

#   upload-s3:
#     name: CD - Upload Repository to S3
#     needs: [build-and-test]
#     uses: ./.github/workflows/upload-s3.yml
#     with:
#       s3_bucket_name: empreganet-artifacts
#     secrets: inherit

#   deploy-elastic-beanstalk:
#     name: CD - Deploy Elastic Beanstalk
#     needs: [build-and-test]
#     uses: ./.github/workflows/elastic-beans.yml
#     with:
#       solution_file: EmpregaNet.sln
#       api_project_path: src/EmpregaNet.Api
#       eb_application_name: empreganet-api-app
#       eb_environment_name: empreganet-api-prod-env
#       aws_region: us-west-2
#     secrets: inherit

